.login-page-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.login-page-navlink {
  display: contents;
}
 
.login-page-component1 {
  text-decoration: none;
}
 
.login-page-text10 {
  display: inline-block;
}
 
.login-page-text11 {
  display: inline-block;
}
 
.login-page-text12 {
  display: inline-block;
}
 
.login-page-text13 {
  display: inline-block;
}
 
.login-page-container3 {
  display: contents;
}
 
.login-page-text14 {
  display: inline-block;
}
 
.login-page-text15 {
  display: inline-block;
}
 
.login-page-text16 {
  display: inline-block;
}
 
.login-page-text17 {
  display: inline-block;
}
 
.login-page-text18 {
  display: inline-block;
}
 
.login-page-text19 {
  display: inline-block;
}
 
.login-page-text20 {
  display: inline-block;
}
 
.login-page-text21 {
  display: inline-block;
}
