.contact51-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact51-max-width {
  align-self: center;
}
 
.contact51-section-title {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.contact51-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact51-content2 {
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact51-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact51-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact51-contact-info1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact51-text12 {
  align-self: flex-start;
  text-align: center;
}
 
.contact51-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact51-contact-info2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact51-text14 {
  align-self: flex-start;
  text-align: center;
}
 
.contact51-content6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact51-contact-info3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact51-text17 {
  align-self: flex-start;
  text-align: center;
}
 
.contact51-image {
  max-width: 767px;
}
 
.contact51-text19 {
  display: inline-block;
}
 
.contact51-text20 {
  display: inline-block;
}
 
.contact51-text21 {
  display: inline-block;
}
 
.contact51-text22 {
  display: inline-block;
}
 
.contact51-text23 {
  display: inline-block;
}
 
.contact51-text24 {
  display: inline-block;
}
 
.contact51-text25 {
  display: inline-block;
}
 
.contact51-text26 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact51-content2 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}
